<% provide(:title, @user.username) %>
<div class="profile-page">
  <div class="user-info">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 offset-md-1">
          <% if @user.image %>
            <img src="<%= @user.image %>" class="user-img" />
          <% else %>
            <img src="http://i.imgur.com/Qr71crq.jpg" class="user-img" />
          <% end %>
          <h4><%= @user.username %></h4>
          <p>
            <%= @user.bio %>
          </p>
          <button class="btn btn-sm btn-outline-secondary action-btn">
            <i class="ion-plus-round"></i>
            &nbsp; Follow Eric Simons
          </button>
          <button class="btn btn-sm btn-outline-secondary action-btn">
            <i class="ion-gear-a"></i>
            &nbsp; Edit Profile Settings
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 offset-md-1">
        <div class="articles-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a class="nav-link active" href="">My Articles</a>
            </li>
          </ul>
        </div>
        <%= render "shared/feed" %>
      </div>
    </div>
  </div>
</div>